policy_module(phicoin, 1.100.1)

########################################
#
# Declarations
#

type phicoin_t;
type phicoin_exec_t;
init_daemon_domain(phicoin_t, phicoin_exec_t)

permissive phicoin_t;

type phicoin_initrc_exec_t;
init_script_file(phicoin_initrc_exec_t)

type phicoin_conf_t;
files_type(phicoin_conf_t)

type phicoin_var_lib_t;
files_type(phicoin_var_lib_t)

type phicoin_var_run_t;
files_type(phicoin_var_run_t)

type phicoin_port_t;
corenet_port(phicoin_port_t)

########################################
#
# phicoin local policy
#
allow phicoin_t self:process { fork };

allow phicoin_t self:fifo_file rw_fifo_file_perms;
allow phicoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(phicoin_t, phicoin_conf_t, phicoin_conf_t)
manage_files_pattern(phicoin_t, phicoin_conf_t, phicoin_conf_t)

manage_dirs_pattern(phicoin_t, phicoin_var_lib_t, phicoin_var_lib_t)
manage_files_pattern(phicoin_t, phicoin_var_lib_t, phicoin_var_lib_t)
files_var_lib_filetrans(phicoin_t, phicoin_var_lib_t, { dir file })

manage_dirs_pattern(phicoin_t, phicoin_var_run_t, phicoin_var_run_t)
manage_files_pattern(phicoin_t, phicoin_var_run_t, phicoin_var_run_t)

sysnet_dns_name_resolve(phicoin_t)
corenet_all_recvfrom_unlabeled(phicoin_t)

allow phicoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(phicoin_t)
corenet_tcp_sendrecv_generic_node(phicoin_t)
corenet_tcp_sendrecv_all_ports(phicoin_t)
corenet_tcp_bind_generic_node(phicoin_t)

gen_require(`
    type phicoin_port_t;
')
allow phicoin_t phicoin_port_t:tcp_socket name_bind;

gen_require(`
    type phicoin_port_t;
')
allow phicoin_t phicoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(phicoin_t)

files_read_etc_files(phicoin_t)

miscfiles_read_localization(phicoin_t)

sysnet_dns_name_resolve(phicoin_t)

allow phicoin_t phicoin_exec_t:file execute_no_trans;
allow phicoin_t self:process setsched;
corecmd_exec_ls(phicoin_t)
corenet_tcp_connect_http_port(phicoin_t)
dev_read_urand(phicoin_t)
fs_getattr_xattr_fs(phicoin_t)
kernel_read_system_state(phicoin_t)
