
## <summary>policy for phicoin</summary>


########################################
## <summary>
##	Transition to phicoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`phicoin_domtrans',`
	gen_require(`
		type phicoin_t, phicoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, phicoin_exec_t, phicoin_t)
')


########################################
## <summary>
##	Execute phicoin server in the phicoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`phicoin_initrc_domtrans',`
	gen_require(`
		type phicoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, phicoin_initrc_exec_t)
')


########################################
## <summary>
##	Search phicoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`phicoin_search_lib',`
	gen_require(`
		type phicoin_var_lib_t;
	')

	allow $1 phicoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read phicoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`phicoin_read_lib_files',`
	gen_require(`
		type phicoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, phicoin_var_lib_t, phicoin_var_lib_t)
')

########################################
## <summary>
##	Manage phicoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`phicoin_manage_lib_files',`
	gen_require(`
		type phicoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, phicoin_var_lib_t, phicoin_var_lib_t)
')

########################################
## <summary>
##	Manage phicoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`phicoin_manage_lib_dirs',`
	gen_require(`
		type phicoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, phicoin_var_lib_t, phicoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a phicoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`phicoin_admin',`
	gen_require(`
		type phicoin_t;
		type phicoin_initrc_exec_t;
		type phicoin_var_lib_t;
	')

	allow $1 phicoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, phicoin_t)

	phicoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 phicoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, phicoin_var_lib_t)

')

